* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(206, 204, 202);
}

/* Edição básica das paginas */

header {
    background-color: rgb(66, 8, 8);
    color: white;
    padding: 10px;
    box-shadow: 1px 1px 5px black;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

/* Navegação dos menus */

.nav-bar {
    display: flex;
    justify-content: center;
    background-color: rgb(206, 204, 202);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;

}

a {
    text-decoration: none;
    color: black;
    margin: 20px 40px;
    font-weight: bolder;
}

a:hover {
    color: rgb(8, 66, 8);

}

.zoom{
    transition: 0.2s;
    transform: scale(1.04);
}

/* Conteúdo do site */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
}

.high {
    color: rgb(66, 8, 8);
    text-shadow: black;
    font-weight: bold;
}

.container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(209, 169, 169);
    padding: 20px;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 1px 1px 5px black;
}

section:hover {
    transform: scale(1.02);
    transition: 0.5s;
}

.servicos li{
    margin: 5px;
    font-size: smaller;
    font-weight: bold;
}


form {
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(209, 169, 169);
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 1px 1px 5px black;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

label {
    font-weight: bold;
}

/* Rodapé */

footer {
    text-align: center;
    margin-top: 20px;
    background-color: rgb(66, 8, 8);
    color: white;
    padding: 10px;
}

input.separar {
    margin: 0 20px;
}

/* Media queries */

@media screen and (max-width: 768px) {
    .nav-bar{
        display: flex;
        flex-wrap: wrap;
        font-size: .9rem;
        width: 80%;
        justify-content: space-between;
        margin: 10px auto;
    }

    form {
        width: 90%;
    }

    main {
        font-size: .9rem;
        display: flex;
        flex-wrap: wrap;
    }

    p{
        line-height: 1.8;
        text-align: justify;
    }
}